.app {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: url('https://i.pinimg.com/564x/75/f0/97/75f0977e5d87b8fda51fafc4c2198cef.jpg') center/cover fixed no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    max-width: 100%;
  }

  @keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
} 
  
  .shadow_box {
    background-color: #181818be;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    max-height: 100vh;  
    border-radius: 5vh;
  }

  .Content{
    width: 30vw;
    max-width: 30vw;
    height: 50vh;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Header{
    color: white;
    font-size: 3em;
    margin: 1vh;
  }

  .Email{
    border-radius: 3vh;
    margin: 6vh 2vh 1.5vh ;
    padding: 2vh;
    width: 24vw;
  }

  .Password{
    border-radius: 3vh;
    margin: 0 2vh 2vh ;
    padding: 2vh;
    width: 24vw;
  }
  
  .button {
    background-color: rgb(255, 17, 0);
    margin: 1vh;
    border: none;
    color: white;
    cursor: pointer;
  }
  .button:hover{
    background-color: rgb(245, 99, 62);
  }

  .user{
    position: absolute;
    top: 1vh;
    right: 5vh;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
  }

  .signout{
    border-radius: 15vh; 
    background-color: rgb(255, 38, 0);
    color:rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .signout:hover{
    background-color: rgb(243, 102, 50);
    color:rgb(255, 255, 255);
  }

  .link_element{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link1{
    color: aliceblue;
    padding-right: 1vh;
  }

  .link2{
    color: rgb(255, 17, 0);
    text-decoration: none;
  }
  .link2:hover{
    color: rgb(128, 9, 0);
    
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    /* Adjust styles for screens with a maximum width of 600px */
    .shadow-box {
      width: 80%; /* Make the shadow-box 80% of the screen width */
    }
  }
  .go_back{
    position: absolute;
    top: 2vh;
    left: 2vh;
    padding: .8vh;
    border-radius: 6vh;
    width: 15vh;
    cursor: pointer;
    color: #f3e9e9;
    background-color: #232323;
  }
  .go_back:hover{
    background-color: rgb(255, 17, 0);
  }