.container{
    margin-top: 20vh;
    width: 100%;
    max-width: 100%;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5vh; 
}

.search_bar_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.search_bar {
    margin-top: 5vh;
    padding-left: 3.5vh;
    width: 60vw;
    height: 5.1vh;
    border-radius: 3vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    color: rgb(31, 31, 31);
    font-size: 2vh;
    align-items: center;
}

.search_bar::placeholder {
    color: rgb(31, 31, 31);
    font-size: 2vh;
}
