.container {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 12rem;
    gap: 4rem;
}

.header {
    max-width: 40vw;
    font-size: 5rem;
    color: #f7f1e4;
    font-family: 'Russo One', sans-serif;
}

.min_header {
    margin-top: 2rem;
    max-width: 50vw;
    font-size: 2rem;
    color: #f7f1e4;
    font-family: 'Russo One', sans-serif;
}

.button_group {
    position: relative;
    right: 3vh;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 2.5rem;
    margin-right: 2rem;
    gap: 7rem;
}

.button, .button1, .button2 {
    border: none;
    padding: .7rem 1.5rem;
    border-radius: 1.25rem;
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: normal;
    gap: 2rem;
    font-family: 'Russo One', sans-serif;
}

.button1 {
    background-color: #3a3a3a;
    color: antiquewhite;
}

.button2 {
    background-color: orangered;
    color: antiquewhite;
    padding-right: 6.5vh;    
}

.img1, .img2 {
    width: 2.25rem;
}

.button1:hover {
    background-color: rgb(148, 148, 148);
}

.button2:hover {
    background-color: rgb(255, 123, 0);
}

.text {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.Image {
    position: relative;
    bottom: 12vh;
    width: 100%;
    max-width: 40vh;
}

.img {
    width: 130%;
    height: auto;
}

@media screen and (max-width: 750px) {
    .header {
        font-size: 2rem;
        color: red;  
    }
}

@media screen and (max-width: 600px) {
    .header {
        font-size: 1.5rem;
    }
    .min_header {
        font-size: 1.2rem;
    }
    .button_group {
        gap: 4rem;
    }
}

@media screen and (max-width: 400px) {
    .header {
        font-size: 1.2rem;
    }
    .min_header {
        font-size: 1rem;
    }
    .button_group {
        gap: 2rem;
    }
    /* Add more specific styles for smaller screens if needed */
}
