.container {
    display: flex;
    /*flex-wrap: wrap-reverse;*/
    justify-content: center;
    align-items: center;
    /* margin-top: 12rem;++ */
    gap: 4rem;
    /* border: 1px solid red; */
    box-sizing: border-box;
}
.main_container_header{
    display: flex;
    justify-content: center;
    flex-direction: column ;
    /* border: 1px solid yellow; */
    width: fit-content;
}
.header {
    max-width: 40vw;
    font-size: 4.3rem;
    color: #f7f1e4;
    font-family: 'Russo One', sans-serif;
}

.min_header {
    margin-top: 2rem;
    max-width: 50vw;
    font-size: 1.7rem;
    color: #f7f1e4;
    font-family: 'Russo One', sans-serif;
}

.button_group {
    display: flex;
    width: 100%;
     gap:20px;
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 2.5rem;
    /* margin-right: 2rem; */
    box-sizing: border-box;
     /* gap: 10px; */
    /* gap: 7rem; */
    /* min-width: 600px; */
    /* border:1px solid red; */
}

.button, .button1, .button2 {
    /* min-width: fit-content; */
    white-space: nowrap;
    border: none;
    flex:1;
    /* width: 100%; */
    padding: .7rem 1.5rem;
    border-radius: 1.25rem;
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: 'Russo One', sans-serif;
}

.button1 {
    background-color: #3a3a3a;
    color: antiquewhite;
    /* width: 90%; */
}

.button2 {
    background-color: orangered;
    color: antiquewhite;
     padding-right: 6.5vh
}

.img1, .img2 {
    width: 2.25rem;
}

.button1:hover {
    background-color: rgb(148, 148, 148);
}

.button2:hover {
    background-color: rgb(255, 123, 0);
}

.text {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}



.img {
    width: 100%;
    height: auto;
    min-height: 300px;
    max-width: 50vh;
}

/* @media screen and (max-width: 750px) {
    .header {
        font-size: 2rem;
        color: red;  
    }
}

@media screen and (max-width: 600px) {
    .header {
        font-size: 1.5rem;
    }
    .min_header {
        font-size: 1.2rem;
    }
    .button_group {
        gap: 4rem;
    }
}

@media screen and (max-width: 400px) {
    .header {
        font-size: 1.2rem;
    }
    .min_header {
        font-size: 1rem;
    }
    .button_group {
        gap: 2rem;
    }
} */
