.container {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 15rem;
    gap: 2rem;
}

.header {
    max-width: 35vw;
    font-size: 5rem;
    color: #f7f1e4;
    font-family: 'Russo One', sans-serif;
}

.min_header {
    margin-top: 2rem;
    max-width: 50vw;
    font-size: 2.5rem;
    color: #f7f1e4;
    font-family: 'Russo One', sans-serif;
}

.button_group {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 2.5rem;
    gap: 7rem;
}

.button, .button1, .button2 {
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 1.25rem;
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: normal;
    gap: 2rem;
    min-width: 20rem;
    font-family: 'Russo One', sans-serif;

}

.button1 {
    background-color: #3a3a3a;
    color: antiquewhite;
}

.button2 {
    background-color: orangered;
}

.img1, .img2 {
    width: 2.25rem;
}

.button1:hover {
    background-color: rgb(148, 148, 148);
}

.button2:hover {
    background-color: rgb(255, 123, 0);
}

.text {
    display: flex;
    align-items: center;
    font-size: 1.75rem;
}

.Image {
    width: 100%;
    max-width: 40vh;
}

/*@media (max-width: 768px) {*/
/*   .Image {*/
/*       left: 50%; !* Adjust the position for smaller screens *!*/
/*       bottom: 10vh; !* Adjust the position for smaller screens *!*/
/*       width: 40%; !* Adjust the width for smaller screens *!*/
/*       max-width: 30vh; !* Set a maximum width for smaller screens *!*/
/*       transform: translateX(-50%); !* Center the image horizontally *!*/
/*   }*/
/*}*/

/*@media (max-width: 480px) {*/
/*   .Image {*/
/*       bottom: 5vh; !* Adjust the position for even smaller screens *!*/
/*       width: 60%; !* Adjust the width for even smaller screens *!*/
/*       max-width: 20vh; !* Set a maximum width for even smaller screens *!*/
/*   }*/
/*}*/

.img {
    width: 100%;
    height: auto;
}

