.container {
    background: url('https://i.pinimg.com/564x/75/f0/97/75f0977e5d87b8fda51fafc4c2198cef.jpg') center/cover fixed no-repeat;
    min-height: 100vh;
}

.centerContent {
    display: flex;
    justify-content: center;
}
