/* Navbar.module.css */
.nav_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #131212;
  width: 100vw;
  height: 8vh;
  font-size: 1.2rem;
  font-family: 'Tektur', sans-serif;
  z-index: 100;
 }
 
 .ul {
  display: flex;
  align-items: center;
  padding: 0;
 }
 
 .li_1,
 .li_2,
 .li_3 {
  margin-right: 2.2vh;  
  list-style: none;
 }
 
 .li_1 a,
 .li_2 a,
 .li_3 a {
  color: rgb(255, 255, 255);
  padding: 1vh;
  border-radius: 1.8vh;
  transition: .3s;
 }

 .li_1 a:hover,
 .li_2 a:hover,
 .li_3 a:hover {
  background-color: rgb(255, 8, 0);
 }

 
 .left,
 .middle,
 .right {
  display: flex;
 }
 