/* In your CSS */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 25vh;
    width: 110vw;
    max-width: 100vh;
    height: 100%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 75vw; /* Adjust as needed */
    left: 40vh;
    margin: auto;
    
  }
  
  .img {
    top: 10vh;
    width: 60vw;
    right: 4vh;
    height: 60vh; /* Custom height */
    position: relative;
  }
  
  .contentContainer {
    background-color: #444444; /* Choose your desired background color */
    border-radius: 3vh;
    padding: 4vh; /* Adjust padding as needed */
    position: relative;
    top: 20vh;
    width: 110%;
    box-sizing: border-box; /* Include padding in width */
  }
  
  .content {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  
  .header {
    font-size: 3vw; /* Adjust as needed */
    color: aliceblue;
    margin-bottom: 2vh;
  }
  
  .content_history {
    font-size: 1.5vw; /* Adjust as needed */
    color: aliceblue;
  }
  
  .video_group {
    display: flex;
    align-items: center;
    position: relative;
    top: 50vh;
  }
  
  .video {
    margin-bottom: 15vh; /* Adjust as needed */
    padding: 5vh;
  }
  
  /* ... (Other styles you may have) */
  